<div id="navigation" class="container-fluid navigation py-3 z-40">
    <ul class="row w-full justify-content-between">
        <li class="list  col flex-fill text-secondary dark:text-light ">
            <a href="#" onclick="loadPage('home.html')">
                <div class="icon-wrapper">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                </div>
                <span class="text">Home</span>
            </a>
        </li>
        <li class="list col flex-fill text-secondary dark:text-light">
            <a href="#" onclick="loadPage('about.html')">
                <div class="icon-wrapper">
                    <span class="icon"><ion-icon name="add-circle-outline"></ion-icon></span>
                </div>
                <span class="text">About</span>
            </a>
        </li>
        <li class="list active col flex-fill text-secondary dark:text-light">
            <a href="#" onclick="loadPage('donate.html')">
                <div class="icon-wrapper">
                    <span class="icon spinner"><ion-icon name="cash-outline"></ion-icon></span>
                </div>
                <span class="text">Donate</span>
            </a>
        </li>
        <li class="list col flex-fill text-secondary dark:text-light">
            <a href="#" onclick="loadPage('signin.html')">
                <div class="icon-wrapper">
                    <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                </div>
                <span class="text">Sign In</span>
            </a>
        </li>
    </ul>
</div>